.header
  %h1 Meter
  = link_to "Back", trips_path, class: 'left btn', onclick: "window.location='#{trips_path}'; return false;"

%ul.activities
  %li#ride.active= link_to "Ride", "#"
  %li#run= link_to "Run", "#"
  %li#walk= link_to "Walk", "#"

%ul.metrics.charts
  %li
    %ul.chart
      <li><div style="height: 50px"></div></li>
      <li><div style="height: 39px"></div></li>
      <li><div style="height: 36px"></div></li>
      <li><div style="height: 30px"></div></li>
      <li><div style="height: 48px"></div></li>
      <li><div style="height: 40px"></div></li>
      <li><div style="height: 70px"></div></li>
      <li><div style="height: 84px"></div></li>
      <li><div style="height: 82px"></div></li>
      <li><div style="height: 85px"></div></li>
      <li><div style="height: 90px"></div></li>
      <li><div style="height: 100px"></div></li>
    %strong Distance
  %li
    %ul.chart
      <li><div style="height: 60px"></div></li>
      <li><div style="height: 62px"></div></li>
      <li><div style="height: 68px"></div></li>
      <li><div style="height: 65px"></div></li>
      <li><div style="height: 72px"></div></li>
      <li><div style="height: 74px"></div></li>
      <li><div style="height: 68px"></div></li>
      <li><div style="height: 65px"></div></li>
      <li><div style="height: 73px"></div></li>
      <li><div style="height: 79px"></div></li>
      <li><div style="height: 80px"></div></li>
      <li><div style="height: 83px"></div></li>
    %strong Speed