<!DOCTYPE html>
<html lang="en">
<head>
  <title>Meter</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="shortcut icon" type="image/x-icon" href: "/favicon.ico">
  <link rel="apple-touch-startup-image" href="/startup-320x460.png">
  <link rel="apple-touch-icon-precomposed" sizes: "144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes: "114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes: "72x72"   href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed"                  href="/apple-touch-icon-57x57.png">
</head>
<body <%= params[:action_name] %>>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
